*~
*.bak
/app/.classpath
/app/.project
/app/.settings/org.eclipse.core.resources.prefs
/app/.settings/org.eclipse.jdt.core.prefs
/app/.settings/org.eclipse.m2e.core.prefs
/app/.settings/org.eclipse.wst.common.project.facet.core.xml
