#logo {
	height: 50px;
}

.container{
	width: 80%;
	margin: 1em auto;
}

#header{
	margin-bottom: 2em;
}
#header *{
	height: 50px;
	line-height: 45px;
	vertical-align: middle;
	display: inline-block;
	margin-top: auto;
}

.tab-content{
	padding: 20px 0;
}
