.container{
	width: 80%;
	margin: 1em auto;
	overflow-y: scroll;
}

#header{
	margin-bottom: 2em;
}
#header *{
	line-height: 45px;
	vertical-align: middle;
	display: inline-block;
	margin-top: auto;
}

.tab-content{
	padding: 20px 0;
}

/* table row backgrouds */
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
	background-color:#f4f4f4;
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color:#eeeeee;
}

/* first and last station on a trainroute */
.station-end, .station-begin {
	font-weight: bold;
}

/* links in the traintable */
#traintable a {
	color: #555;
}

/* footer */
#footer {
	border-top: 1px solid #DDD;
	font-size: small;
	font-weight: lighter;
	padding: 8px 0;
}