<!--/*
	Copyright 2016 Eric Schölzel, Robert Mörseburg, Zdravko Yanakiev, Jonas Schenke, Oliver Schmidt

	This file is part of FIS.

	FIS is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	FIS is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with FIS.  If not, see <http://www.gnu.org/licenses/>.
*/-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: meta"></head>
	
	<body class="container">
		<th:block th:include="header :: header(dep)"></th:block>
		
		<div class="row">
			<div class="tab-content col-md-8 col-md-offset-2">
				<div class="tab-pane active" id="dep">
					<div th:include="filter :: filter-form"></div>

					<div th:include="traintable :: traintable(dep)" id="traintable"></div>
				</div>
			</div>
		</div>
		
		<th:block th:include="header :: footer"></th:block>
			
		<script th:src="@{/resources/js/fis.js}"></script>
	</body>
</html>
