<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: meta"></head>
	
	<body class="container">
		<th:block th:include="header :: header(dep)"></th:block>
		
		<div class="row">
			<div class="tab-content col-md-8 col-md-offset-2">
				<div class="tab-pane active" id="dep">
					<div th:include="filter :: filter-form"></div>

					<div th:include="traintable :: traintable(dep)" id="traintable"></div>
				</div>
			</div>
		</div>
		
		<th:block th:include="header :: footer"></th:block>
			
		<script th:src="@{/resources/js/fis.js}"></script>
	</body>
</html>