<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="graph_body">
			<div id="divcanvas">
				<canvas id="graphcanvas"></canvas>
			</div>
			<script type="text/javascript" th:inline="javascript">		
			//<canvas id="graphcanvas" style="border:1px solid #000000;"></canvas>
		
			/*<![CDATA[*/	
			var count=0;
			var c=document.getElementById("graphcanvas");
			var d=document.getElementById("divcanvas");
			d.height=d.width;
			c.width=d.offsetWidth;
			c.height=d.offsetWidth;
			
			var ctx=c.getContext("2d");
			ctx.globalCompositeOperation = 'destination-over';
			ctx.imageSmoothingEnabled = true;
			//Schriftart
			ctx.font = "16px Arial";
			
			//Größe der Bahnhofsknoten
			var st_height=8;
			var st_width=8;
			
			//Offset der Bahnhofsbeschriftung
			var nameOffset_X = -50;
			var nameOffset_Y = -5;
			
			//MinX und MinY
			var minX = 2;
			var minY = 8;
			
			//Größe der Zuglaufkanten
			var line_width = st_width/4;
			
			//Farben
			var line_strokeStyle_normal = 'grey';
			var line_strokeStyle_selected = 'orange';
			var st_fillStyle_normal = 'black';
			var st_fillStyle_selected = 'red';
			
			
			//"Default-Werte" der Koordinaten -> Bahnhöfe ohne "richtige" eigene Koordinaten
			var defaultX=0;
			var defaultY=0;
					
	    //Javascript-Bahnhofsdatenstruktur (zum Klickbarmachen)      
	    function StationObject(id,name,x,y,width,height){
			this.id=id;
			this.name=name;
			this.x=x;
			this.y=y;
			this.width=width;
			this.height=height;
		} 
	    
	    var stations = [];
		var stationObjects = [];
	    
		//zum Testen derweil
		function data_contains(data,station){
			//alert(data.length);
			
			for(k=0; k<data.length;k++){
				//alert(k);
				if(data[k].id == station.id){
					//alert(station.id);
					return true;
					
				}
			}
			//alert(station.id);
			return false;
	
		}
		//Ende
		
		
		//Knoten (Bahnhöfe) aus JSON entgegennehmen
		var stations = $.get('../stations.json',function(data){
			
		/** var routes = $.get('../resources/fullTrainRoutes.json',function(testroutes){
			
			var data = [];
			
			for(i=0;i<testroutes.length; i++){
				for(nr=0; nr<testroutes[i].stops.length; nr++){
				
			//	alert(nr);
					var stat = testroutes[i].stops[nr];
					if(data_contains(data,stat) == false){
						data.push(stat);
					}			
				}
			}
			*/
			

			//Skalierung berechnen
			var maxX = 0;
			var maxY = 0;
			var max = 0;
			minX += nameOffset_X;
			minY += -nameOffset_Y * 2;
			
			for(i=0; i<data.length;i++){
				if(maxX<data[i].x){
					maxX=data[i].x;
				}
				if(maxY<data[i].y){
					maxY=data[i].y;
				}
			}

			//stellt sicher, dass auch der äußerste Punkt noch zu sehen ist
			//maxX = maxX + st_width*2 + minX + 20;
			//maxY = maxY + st_height * 4 + 2*minY + 20;
			//maxX = maxX + minX;
			maxY = maxY + st_height/2;
			
			//Knoten (Bahnhöfe) durchlaufen
			for(i=0; i<data.length; i++){
				var station=data[i];
				if(station.x!=-1){
					//Position entsprechend des Maximums skalieren	
					station.x=(station.x/maxX)*(c.width)+minX;
					station.y=(station.y/maxY)*(c.height) + minY;	
					
					
					//Unterscheidung ausgewählt <-> normal		
					if([[${stn}]] == (station.id)){
						ctx.fillStyle = st_fillStyle_selected;
					}
					else{
						ctx.fillStyle = st_fillStyle_normal;
					}
				
					//Zeichnen des Bahnhofs
					ctx.fillRect(station.x,station.y,st_width,st_height);
				
					//Zeichnen der Beschriftung, Bahnhöfe ohne richtige Koordinaten werden ignoriert
					if(station.x!=defaultX+minX && station.y!=defaultY+minY){
						ctx.fillText(station.name,station.x+nameOffset_X,station.y+nameOffset_Y);
					}
				
					//zur Javascript-Datenstruktur hinzufügen (um Klickbarkeit zu realisieren)
					var stationObj = new StationObject(station.id,station.name,station.x,station.y,st_width,st_height);
					stationObjects.push(stationObj); 
				}
			}

		
		//Kanten (Zugläufe) aus JSON entgegennehmen	
		var routes = $.get('../fullTrainRoutes.json',function(data){
			//var routes = $.get('../resources/fullTrainRoutes.json',function(data){
			
			//Kanten (Zugläufe)
			for(i=0; i<data.length;i++){
				
				//feststellen, ob TrainRoute zur ausgewählten Station gehört
				var selected = false;
				var route=data[i];
				for(k = 0;k < route.stops.length; k++){
					if([[${stn}]] == route.stops[k].id){
						selected = true;
					}	
				}
				
				//Position entsprechend des Maximums skalieren
				for(j=0; j<route.stops.length;j++){
					var station=route.stops[j];
					station.x=(station.x/maxX)*(c.width) + minX;
					station.y=(station.y/maxY)*(c.height) + minY;
				}
				
				//Pfadanfang
				ctx.beginPath();
				//ctx.translate(0.5,0.5);
				ctx.moveTo(route.stops[0].x+st_width/2,route.stops[0].y+st_height/2);
			
				//Kanten (Zugläufe) durchlaufen
				for(j=1; j<route.stops.length;j++){
					var station=route.stops[j];
					//Position der Linie festlegen
					ctx.lineTo(station.x+st_width/2,station.y+st_height/2);
				}
				
				//Linienbreite übernehmen
				ctx.lineWidth = line_width;
				
				//Unterscheidung ausgewählt <-> normal
				if(selected == true){
					ctx.strokeStyle = line_strokeStyle_selected;
				}
				else{
					ctx.strokeStyle = line_strokeStyle_normal;
				}
				
				//Linie zeichnen
				ctx.stroke();
				}
			//}
			

			},'json');
		},'json');
		
		
		//Klickbarkeit realisieren
		$('#graphcanvas').click(function(e){
			//angeklickte Position bestimmen
			var x = e.pageX - $('#graphcanvas').offset().left;
		    var y = e.pageY -  $('#graphcanvas').offset().top;
		    //"Fake-Bahnhof" zur Kollisionserkennung
		    var clicked = new StationObject('','',x, y, 1, 1);
		    //Hilfsfunktion aufrufen
		    var pos = getPositions(clicked);
		    
		    //kollidiert die angeklickte Position mit einem der Knoten?
		    for (var i = 0; i < stationObjects.length; i++) {
		        var pos2 = getPositions(stationObjects[i]);
		        var horizontalMatch = comparePositions(pos[0], pos2[0]);
		        var verticalMatch = comparePositions(pos[1], pos2[1]);
		        
		        //Kollision? Wenn ja, dann angeklickt
		        if (horizontalMatch && verticalMatch) {
		        	// Aufrufen der Abfahrtsanzeige für den angeklickten Bahnhof
		            window.location = "../dep/"+stationObjects[i].id;
		        }
		    }
		});
		
		//Hilfsfunktion für die Kollisionserkennung
		function getPositions(item) {
		    return [[item.x, item.x + item.width], [item.y, item.y + item.height]];
		}
		
		function comparePositions(p1, p2) {
		    var x1 = p1[0] < p2[0] ? p1 : p2;
		    var x2 = p1[0] < p2[0] ? p2 : p1;
		    return x1[1] > x2[0] || x1[0] === x2[0] ? true : false;
		}
		
		
		
		/*]]>*/	
			</script>
		</th:block>
	</body>
</html>