<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="meta">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/Bootstrap-3-Typeahead/3.1.1/bootstrap3-typeahead.js}"></script>
		
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		
		<title th:text="#{fis.title.short}">FIS EBL</title>
	</head>
	
	<body>
		<th:block th:fragment="header(active)">
			<div class="row" id="header">
				<img th:src="@{/resources/img/tu_logo.png}" class="col-md-2 img-responsive" id="logo" />

				<h1 class="col-md-8 text-center" th:text="#{fis.title}">Fahrgastinformationssystem</h1>
				<!-- <h2 class="col-md-2" th:text="${#temporals.format(time, 'HH:mm')}">13:37</h2>
				 -->
			</div>
			<div class="row">
				<ul class="col-md-8 col-md-offset-2 nav nav-tabs">
					<li th:class="${active == 'dep'}? 'active'">
						<a th:href="${currentStation} ? |/dep/${currentStation.id}| : '/dep/'"
						   th:text="#{fis.nav.dep}">Abfahrten</a>
					</li>
					<li th:class="${active == 'arr'}? 'active'">
						<a th:href="${currentStation} ? |/arr/${currentStation.id}| : '/arr/'"
						   th:text="#{fis.nav.arr}">Ankünfte</a>
					</li>
					<li th:class="${active == 'trn'}? 'active'">
						<a href="/trn"
						   th:text="#{fis.nav.trn}">Zugnummer</a>
					</li>
					<li th:class="${active == 'graph'}? 'active'">
						<a th:href="${currentStation} ? |/graph/${currentStation.id}| : '/graph/'"	
						   th:text="#{fis.nav.graph}">Liniennetz</a>
					</li>
				</ul>
			</div>
		</th:block>
		
		<th:block th:fragment="footer">
			<div class="row" id="footer">
				<div class="col-md-4">
					<div th:switch="${connectionState}">
						<p th:case="Online" class="state text-success">
							<i class="glyphicon glyphicon-ok-circle"></i>
							<span th:text="#{fis.state.online}"></span>
						</p>
						<p th:case="Connecting" class="state text-warning">
							<i class="glyphicon glyphicon-hourglass"></i>
							<span th:text="#{fis.state.connecting}"></span>
						</p>
						<p th:case="*" class="state text-danger">
							<i class="glyphicon glyphicon-warning-sign"></i>&ensp;
							<span th:text="#{fis.state.offline}"></span>
						</p>
					</div>
					<div class="text-muted" th:text="|FIS Version ${programVersion}|"></div>
				</div>
				<div class="col-md-4 col-md-offset-4 text-right">
					<p>Benutzertext&hellip;</p>
				</div>
			</div>
		</th:block>
	</body>
</html>