<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="header :: meta"></head>
	
	<body class="container">
		<th:block th:include="header :: header(trn)"></th:block>
		
		<div class="row">
			<div class="tab-content col-md-8 col-md-offset-2">
				<div class="tab-pane active" id="trn">
					<form method="post" role="form" action="">
						<div class="form-group">
							<div class="input-group col-md-8 pull-left">
								<span class="input-group-addon">#</span>
								<input type="text" class="form-control" placeholder="Zugnummer"
									   name="trainRoute" autocomplete="off" id="trainRoute" data-provide="typeahead"
									   th:value="${currentTrainRoute} ? |${currentTrainRoute}: ${currentTrainRoute.stops[0].station.longName} &ndash; ${currentTrainRoute.stops[currentTrainRoute.stops.size()-1].station.longName}|" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" data-toggle="collapse"
											data-target="#trainRouteList">
										<i class="glyphicon glyphicon-chevron-down"></i>
									</button>
								</span>
							</div>
							<input type="hidden" name="trainRouteId" id="trainRouteId" th:value="${currentTrainRoute} ? ${currentTrainRoute.id}" />
							<input type="submit" name="submit" class="btn btn-primary col-md-2 col-md-offset-2" value="Anzeigen" />
							<div class="clearfix"></div>
						</div>
						<div class="collapse" id="trainRouteList">
							<ul class="list-group row">
								<li class="list-group-item col-xs-6" th:each="tr : ${trainRoutes}">
									<a th:href="|./${tr.id}|" th:text="|${tr}: ${tr.stops[0].station.longName} &ndash; ${tr.stops[tr.stops.size()-1].station.longName}|">Bahnhof</a>
								</li>
							</ul>
						</div>
					</form>
					<div th:fragment="traintable" id="traintable">
						<div th:if="${currentTrainRoute} and ${currentTrainRoute.messageId}"
							 class="alert alert-info" th:text="${timetable.getMessage(currentTrainRoute)}">Meldung</div>
						<table class="table table-hover table-striped" th:if="${currentTrainRoute}">
							<thead>
								<tr>
									<th class="col-md-1 text-right">An</th>
									<th class="col-md-1"></th>
									<th class="col-md-1">Ab</th>
									<th>Bahnhof</th>
									<th class="col-md-1">Gleis</th>
									<th>Bemerkungen</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="st, stStat : ${currentTrainRoute.stops}" th:class="(${stStat.first}? 'tr-first ' : '') + (${stStat.last}? 'tr-last' : '')">
									<td class="text-right">
										<span th:text="${st.ScheduledArrival}? ${#temporals.format(st.ScheduledArrival, 'HH:mm')}">an</span>
										<span th:class="(${st.getDelayArrival()} gt 0) ? 'late' : 'early'"
										th:text="${st.getDelayArrivalString()}">+42</span>
									</td>
									<td th:class="perlenschnur" th:with="past=((${st.ActualArrival} and (${time} and ${st.ActualArrival} le ${time})) or
																			(${st.ActualDeparture} and (${time} and ${st.ActualDeparture} le ${time})))">
										<th:block th:if="${stStat.first} or ${stStat.last}">
											<img th:if="${past}" th:src="@{/resources/img/bar-black.png}" width="24" />
											<img th:unless="${past}" th:src="@{/resources/img/bar-white.png}" width="24" />
										</th:block>
										<th:block th:unless="${stStat.first} or ${stStat.last}">
											<img th:if="${past}" th:src="@{/resources/img/circler-black.png}" width="12" />
											<img th:unless="${past}" th:src="@{/resources/img/circle-white.png}" width="12" />
										</th:block>
									</td>
									<td>
										<span th:text="${st.ScheduledDeparture}? ${#temporals.format(st.ScheduledDeparture, 'HH:mm')}">ab</span>
										<span th:class="(${st.getDelayDeparture()} gt 0) ? 'late' : 'early'"
											  th:text="${st.getDelayDepartureString()}">+42</span>
									</td>
									<td class="station-name">
										<a th:href="|/dep/${st.station.id}|" th:text="${st.station.longName}" th:title="#{fis.traintable.deptitle}">Bahnhof</a>
									</td>
									<td th:text="${st.ScheduledTrack}">Gleis</td>
									<td th:text="'&mdash;'">Meldung</td>
								</tr>
							</tbody>
						</table>

						<div class="alert alert-info" th:unless="${currentTrainRoute}" th:text="#{fis.alerts.notrainroute}">
							Keine Zugnummer.
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<th:block th:include="header :: footer"></th:block>
		
		<script th:src="@{/resources/js/fis.js}"></script>
	</body>
</html>